# Database
# DB_URL=jdbc:mysql://localhost:3306/bm?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
# DB_USERNAME=root
# DB_PASSWORD=root123

# JWT Secret
# JWT_SECRET=YourVerySecureSecretHere

# Mail Server Configurations
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com