# Database
# DB_URL=jdbc:mysql://localhost:3306/bm?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
# DB_USERNAME=root
# DB_PASSWORD=root123

# JWT Secret
# JWT_SECRET=YourVerySecureSecretHere

# Resend Mail Configuration
RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM=onboarding@resend.dev
